html
    head
        title Card Searcher
	
    body
        
        h1 Card Database

        p Enter data into the filter form below and hit refresh to find matching cards.

        p Artist:
            input#artist(type="textbox")
                
        p Name:
            input#name(type="textbox")
        p Min Attack:
            input#minattack(type="textbox")
        p Max Attack:
            input#maxattack(type="textbox")
        p Min Health:
            input#minhealth(type="textbox")
        p Max Health:
            input#maxhealth(type="textbox")
        p Class:
            select#class
                for C in card_class
                    option(value=C) #{C}
        p Rarity:
            select#rarity
                for C in card_rarity
                    option(value=C) #{C}
		
        button#refresh(type="button") Refresh Results 
        script
            include indexWork.js 
        div#results
            for result in card_results
                a(href= "/cards/" + result._id) #{result.name}
                br